* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f3f3f4;
  line-height: normal;
  font-size: 16px;
  font-family: sans-serif;
}

.rad-menu-badge {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100%;
  font-size: 12px;
  background: #E94B3B;
  -webkit-box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  top: -10px;
  z-index: 1;
}


.rad-sidebar {
  z-index: 9999;
  position: fixed;
  background: #2f4050;
  width: 225px;
  height: 100vh;
  left: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.rad-sidebar li {
  text-align: left;
  height: 50px;
}

.rad-sidebar li a {
  text-decoration: none;
  height: 50px;
  display: block;
  color: white;
}

.rad-sidebar li a i {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.rad-sidebar li a i:before {
  z-index: 10;
  position: relative;
}

.rad-sidebar li a > span {
  display: inline-block;
  padding-left: 10px;
  -webkit-transition: all .2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.rad-sidebar li:hover {
  background: #263340;
}

.rad-sidebar li:hover .icon-bg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.rad-sidebar.rad-nav-min {
  width: 50px !important;
}

.rad-sidebar.rad-nav-min .rad-sidebar-item {
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.rad-sidebar.rad-nav-min .icon-bg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.rad-sidebar.rad-nav-min .icon-bg:hover {
  opacity: .4;
}

.rad-body-wrapper {
  position: absolute;
  left: 250px;
  top: 75px;
  width: auto;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.rad-body-wrapper.rad-nav-min {
  left: 50px;
}

.rad-chart {
  height: 250px;
}

.panel {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0 !important;
}

.panel-heading {
  background: #2f4050 !important;
  border-radius: 0;
  padding: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.panel-heading .panel-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #dce0f3;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#user-map {
  width: 100%;
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#user-map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C4C66;
    color: white;
}

#submitNewDestination{
  cursor: pointer;
  padding: auto;
}