<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="stylesheet" href="../static/signuplogin.css">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">

    <script src="../static/jquery/jquery-3.3.1.min.js"></script>
    <script src="../static/homepage.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWB23oSRi7rHMDDypWUjxJCCl4WLiZOyo&libraries=places&callback=initAutocomplete" async defer></script>
    <script src="../static/signuplogin.js"></script>
    <script> 
      $(function(){
        console.log("ayyyyy");
        $("#includeSignUpLogin").load("./static/signuplogin.html"); 
      });
    </script> 
  </head>
  <body>
    <!-- sign in page -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Flight Scanner</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
    <input id="pac-input" class="controls" type="text" placeholder="Where do you want to go?">
    <div id="map"></div>
    <div id="includeSignUpLogin"></div>
    

  </body>
</html>
