<form action="/add_flight" method="POST">
  username:<br>
  <input type="text" name="username"><br>
  price range:<br>
  <input type="text" name="price" /><br />
  starting airport:<br />
  <input type="text" name="starting_airport" /><br />
  destination airport:<br>
  <input type="text" name="destination_airport" /><br />
  departure date:<br>
  <input type="text" name="departure_date" /><br />
  arrival date:<br>
  <input type="text" name="arrival_date" /><br />
  number of passengers:<br>
  <input type="text" name="num_passengers" /><br />
  ticket type:<br>
  <input type="radio" name="ticket_type" value="economy" checked> economy<br>
  <input type="radio" name="ticket_type" value="business"> business<br>
  <input type="radio" name="ticket_type" value="first_class"> first class
  <br><br>
  <input type="submit" value="Submit">
</form>
